In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [113]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
from scipy import interpolate
import matplotlib.pyplot as plt

In [5]:
app = pd.read_csv('/content/drive/MyDrive/2022 fall DS440/data/APPL/AAPL_monthly_valuation_measures.csv')

In [6]:
app

,name,ttm,08/26/2022,07/29/2022,06/30/2022,05/31/2022,04/29/2022,03/31/2022,02/28/2022,01/31/2022,...,05/30/1986,04/30/1986,03/31/1986,02/28/1986,01/31/1986,12/31/1985,11/29/1985,10/31/1985,09/30/1985,08/30/1985
0,MarketCap,"2,629,496,442,240","2,629,496,442,240","2,611,657,907,520","2,200,560,080,160","2,409,002,340,040","2,551,593,784,650","2,830,003,448,480","2,694,666,097,920","2,852,311,897,980",...,"2,318,049,999","1,895,187,559","1,769,887,559","1,544,399,999","1,428,607,065","1,359,071,999","1,244,768,359","1,151,993,360","974,162,239","922,754,999"
1,EnterpriseValue,"2,700,956,442,240","2,700,956,442,240","2,683,117,907,520","2,269,030,080,160","2,477,472,340,040","2,620,063,784,650","2,888,888,448,480","2,753,551,097,920","2,911,196,897,980",...,"1,981,049,999","1,558,187,559","1,432,887,559","1,207,399,999","1,091,607,065","1,022,071,999","907,768,359","814,993,360","832,162,239","780,754,999"
2,PeRatio,27.045,NaN,NaN,22.231,24.202,NaN,28.957,27.383,28.985,...,NaN,20.44,19.089,21.55,19.934,18.964,NaN,18.627,15.751,NaN
3,ForwardPeRatio,25.84,NaN,NaN,21.552,24.45,NaN,29.07,27.624,29.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PegRatio,2.926,NaN,NaN,2.377,2.698,NaN,3.374,3.207,3.395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,PsRatio,6.947,NaN,NaN,5.874,6.395,NaN,7.715,7.296,7.723,...,NaN,1.097,1.025,0.881,0.815,0.775,NaN,0.594,0.502,NaN
6,PbRatio,45.253,NaN,NaN,32.65,35.742,NaN,39.343,37.461,39.653,...,NaN,3.443,3.215,2.805,2.595,2.469,NaN,2.093,1.77,NaN
7,EnterprisesValueRevenueRatio,6.969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,EnterprisesValueEBITDARatio,20.509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
first = app.iloc[2,]
first = pd.DataFrame(first)
first = first.iloc[2:,[0]]
first.index.name = "Date"
first.columns = ['PeRatio']

In [142]:
first = first.reset_index(level=['Date'])
first

           Date PeRatio
0    08/26/2022     NaN
1    07/29/2022     NaN
2    06/30/2022  22.231
3    05/31/2022  24.202
4    04/29/2022     NaN
..          ...     ...
460  12/31/1985  18.964
461  11/29/1985     NaN
462  10/31/1985  18.627
463  09/30/1985  15.751
464  08/30/1985     NaN

[465 rows x 2 columns]

In [147]:
first = first[['PeRatio']].apply(pd.to_numeric)

In [163]:
first

     PeRatio
0        NaN
1        NaN
2     22.231
3     24.202
4        NaN
..       ...
460   18.964
461      NaN
462   18.627
463   15.751
464      NaN

[465 rows x 1 columns]

In [162]:
first.interpolate(method='values')

     PeRatio
0        NaN
1        NaN
2    22.2310
3    24.2020
4    26.5795
..       ...
460  18.9640
461  18.7955
462  18.6270
463  15.7510
464  15.7510

[465 rows x 1 columns]

In [159]:
first.interpolate(method='linear',limit_direction='both')

     PeRatio
0    22.2310
1    22.2310
2    22.2310
3    24.2020
4    26.5795
..       ...
460  18.9640
461  18.7955
462  18.6270
463  15.7510
464  15.7510

[465 rows x 1 columns]

In [160]:
first.interpolate(method='polynomial',order=3,limit_direction='both')

       PeRatio
0          NaN
1          NaN
2    22.231000
3    24.202000
4    27.565461
..         ...
460  18.964000
461  19.117920
462  18.627000
463  15.751000
464        NaN

[465 rows x 1 columns]